# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE/editores
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Archivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de construcción/distribución
dist/
build/
coverage/

# Archivos temporales
.tmp/
.temp/

# Archivos de debug
.debug/

# Archivos de configuración local
*.local

# Otros
.cache/
.history/ 